* {
    text-decoration: none;
    font-family: Arial, Geneva, Verdana, sans-serif;
    color:black;
    font-size:14px;
}

body {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    align-content:space-around;
    margin:0;
}


a {
    color:rgb(27, 138, 234);
}

img {
    flex-grow:1;
    /* border:2px solid red; */
    padding:50px 0 90px 0;
}

#main-box{
    flex-grow:2;
    border: 2px solid rgb(234, 234, 234);
    padding:20px;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:left;
    align-content:space-around;
}

#sign-in {
    font-size: 230%;
    line-height: 0;
    margin: 8px 0px 20px;
    /* border: 2px solid red; */
}

input {
    width:360px;
    padding:7px;
}

input[placeholder] {
    font-size:14px;
}

#continue {
    border: 1px solid rgb(108, 93, 49);
    box-shadow: 0px 1px 3px lightgray;
    color:black;
    background-color: rgb(253, 188, 36);
    padding: 7px;
    border-radius:2px;
}

#need-help {
    margin: 0 0 0 20px;
}

#create {
    flex-grow:1;
    /* border:2px solid red; */
}

#create fieldset {
    width: 380px;
    text-align:center;
    border: 5px solid white;
    border-top:2px solid lightgray;
}

#create-button {
    color:black;
    background-color: rgb(233, 232, 232);
    border: 1px solid rgb(170, 168, 168);
    box-shadow: 0px 1px 2px lightgray;
    border-radius:2px;
    padding: 7px;
    margin: 10px 0px 50px 0px;
}

footer {
    width:100%;
    text-align: center;
    border-top: 2px solid lightgray;
    /* border:3px solid rgb(238, 223, 223); */
}

#links a {
    padding:0 10px;
    /* border: 2px solid red; */
}